 
body {
	background-color: #d9edf7;

	padding: 0;

	box-sizing: border-box;

}

.col-sm-6 {
	position: relative;
	margin: auto;
}



.messenger-box {
	height: 500px;
	width: 300px;

	margin: auto;
	padding: 0;
	border: 5px solid;
	border-radius: 50px;

}

.message-area {
	height: 330px;
	width: 290px;
	
	margin-top: 20px;

	overflow-y: scroll;
}

p {
	padding: 0.25em 1em;
	margin: 0.5em 0.5em 0 0.5em;
	border-radius: 30px;
	border: 1px solid black;
}


textarea {
	height: 100px;
	width: 100%;

	padding: 0;
	margin: 0;

	border: none;
}