 
body {
	background-color: #d9edf7;

	padding: 0;

	box-sizing: border-box;

}

.col-sm-6 {
	position: relative;
	margin: auto;
}



.messenger-box {
	height: 500px;
	width: 300px;

	margin: auto;
	padding: 0;
	border: 5px solid;
	border-radius: 50px;

}

.message-area {
	height: 350px;
	width: 290px;
	
	margin: 0;
	border-radius: 50px;
}

.message-area p {
	height: 200px;
}


textarea {
	height: 100px;
	width: 100%;

	padding: 0;
	margin: 0;

	border: none;
}